:root{
    --black: #272727;
    --white: #FBFBFB;
    --gray: #7B7B7B;
    --main: #517EEE;
    --sub: #8EE4EB;
    --accent: #D13767;
    --suppOne: #A8E5B7;
    --suppTwo: #9677F7;

    --xs: 5px;
    --s: 10px;
    --m: 16px;
    --l: 20px;
    --xl: 26px;
    --xxl: 100px;
}

body {
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    margin: var(--s);
}

.createPlayer > form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
    height: 300px;
    
}
.selected-session{
    background-color: fuchsia;
    color: white;
}

*{
    font-family: 'Cascadia Code';
    position: relative;
    font-weight: normal;
    box-sizing: border-box;
}

h1{ font-size: var(--xl);}
h2{ font-size: var(--l);}


.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
}

form > *:last-child{
    margin-top: var(--l);
}

label, p, span, div, button, input{
    line-height: var(--xl);
    font-size: var(--m);
    color: var(--white);
    margin: 0;
    margin-bottom: var(--xl);
}

.header{
    margin-bottom: var(--m);
    margin-top: var(--l);
}

.tab-head-wrapper{
    display: flex;
    justify-content: space-between;
    padding: var(--s);
}

.tab-wrapper .active{
    font-size: var(--xl);
    border-bottom: 1px solid var(--white);
}

.string-button{
    color: var(--sub);
    cursor: pointer;
}

.input-wrapper {
   display: flex;
   flex-direction: column;
}

label{
    text-transform: capitalize;
}

input{
    background: none;
    border: 1px solid var(--white);
}

button{
    outline: none;
    border: none;

    background-color: var(--main);
    padding: var(--s);
    text-transform: lowercase;

    display: block;
    width: 100%;

    transition: background-color 1s, color 1s;
}

.button-active{
    background-color: var(--accent);
    transition: background-color 0s;
}

.button-disabled{
    background-color: var(--black);
    color: var(--black);
}

.button-confirm{
    display: flex;
    gap: 0;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    color: var(--main);

    transition: gap 1s;
}

.button-confirm-gap{
    gap:var(--l);
    color:var(--white);
}

.button-confirm .accent{
    background-color: var(--accent);
}
